/* banner */

#banner {
    height: 100vh;
    background: url("../img/banner.webp") no-repeat center / cover;
}

/* product */
#feature-products,
#sale-products {
    padding: 50px 0;
}
.feature-product__title,
.sale-product__title {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1.6rem;
    display: inline-block;
}
.feature-product__title a,
.sale-product__title a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.product-item {
    position: relative;
    text-align: center;
    padding: 32px 0;
    margin-top: 2.4rem;
    transition: 0.3s;
    border: 1px solid transparent;
}

.product-item a {
    text-decoration: none;
}

.product-item:hover {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    transform: translateY(-20px);
    cursor: pointer;
}

.product-item__img {
    overflow: hidden;
    height: 160px;
}
.product-item__img img {
    object-fit: cover;
    max-width: 80%;
    transform: scale(0.8);
    transition: 0.3s;
}

/* img product hover */
.product-item:hover .product-item__img img {
    transform: scale(0.9);
    /*transform: rotate(15deg);*/
}
.product-item__name {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 0 1.6rem;
    margin: 24px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-item__price {
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.product-item__price--new {
    color: red;
}

.product-item__price--old {
    color: #ccc;
    text-decoration: line-through;
}

.product-item--sale-flash {
    position: absolute;
    width: 38px;
    top: 10px;
    right: 10px;
    padding: 4px;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #f44236;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.product-item--sale-flash::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top: 10px solid #f44236;
    border-left: 18px solid #f44236;
    border-right: 18px solid #f44236;
    border-bottom: 10px solid transparent;
}

.app-container {
    margin-top: 12.4rem;
}

/* dien thoai */
.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
}
.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 100px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}
.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 15px;
    position: absolute;
    top: 15px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.suntory-alo-ph-img-circle {
    border: 2px solid transparent;
    border-radius: 100%;
    height: 50px;
    left: 25px;
    opacity: 0.7;
    position: absolute;
    top: 25px;
    transform-origin: 50% 50% 0;
    width: 50px;
    text-align: center;
}
.suntory-alo-phone.suntory-alo-hover,
.suntory-alo-phone:hover {
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
    border-color: #eb278d;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #bfebfc;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
    background-color: #eb278d;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
    background-color: #eb278d;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}
.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}
@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
