.login-form {
    font-size: 1.6rem;
}
.login-form h2 {
    text-transform: uppercase;
    text-align: center;
}
.login-form label {
    margin-bottom: 4px;
}
.form-group {
    margin-top: 1.2rem;
}
.form-group input {
    font-size: 1.6rem;
}
.login-form button {
    margin-top: 1.2rem;
    font-size: 1.6rem;
}
