.large-image img {
    width: 100%;
}
.product-info {
    text-align: center;
    color: var(--text-color--);
}

.product-info .product-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
}
.product-info .new-price {
    color: red;
    font-weight: 500;
    font-size: 2rem;
}
.product-info .old-price {
    color: #ccc;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: line-through;
}

.product-info .price {
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-bottom: 1.6rem;
}
.product-description {
    padding-bottom: 1.6rem;
}
.product-size ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.product-size ul li {
    border: 1px solid black;
    font-size: 1.6rem;
}
.product-size label {
    padding: 4px 8px;
    cursor: pointer;
}
.product-size ul li input {
    display: none;
}
.product-info .product-size li:has(input:checked) {
    background-color: #000;
    color: #fff;
}
.add-to-cart {
    font-size: 2rem;
    margin-top: 1.6rem;
    padding: 8px 16px;
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
}
